
.DS_Store
._*
__pycache__/

# Python
*.pyc
*.pyo
*.pyd



# data / outputs
**/*.npy
**/*.gz
**/*.tar
**/*.obj
**/*.pt
**/*.pth
**/*.png
**/*.ckpt

# keep dataset CSVs in data/, ignore everything else there
data/**/*
!data/**/
!data/**/*.csv

# scripts / misc
**/*.code-workspace

# experiment outputs
exp/**/results_catboost.json
exp/**/results_mlp.json
exp/**/check/
exp/**/many-exps/
exp/**/loss.csv
runs/
results/
outputs/
logs/
wandb/

# local configs
# configs/

# environments
.env
.venv/
venv/
env/
conda-meta/

# editors
.vscode/
.idea/

# optuna / db
*.db
*.sqlite
*.sqlite3

summary_results/*.csv
